<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            <h3>Novo</h3>
            <form [formGroup]="movieForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" formControlName="nome" class="form-control" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Sinopse</label>
                    <textarea class="form-control" formControlName="sinopse" rows="3" maxlength="50"></textarea>
                </div>
                <div class="form-group">
                    <label>Ano</label>
                    <input type="text" formControlName="ano" class="form-control" maxlength="20" pattern="/^(19[5-9]\d|20[0-4]\d|2050)$/">
                </div>
                <div class="form-group">
                    <label>Rank</label>
                    <input type="text" formControlName="rank" class="form-control" maxlength="20" pattern="[1-9]|10">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>